* {box-sizing: border-box;}
html {font-size: 18px;}
body {
    background: white;
    font-family: 'Nunito', serif;
    margin: 0px;
    line-height: 150%;
}

header {
    width: 100%;
    background-color: #2d3945;
    color: white;
    text-align: center;
    padding: 1rem;
}

label {
    padding-top: 1em;
    padding-bottom: 1em;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    width: auto;
}


h2 {
    color: black;
    text-align: center;
    font-weight: bold;
}

h3 {
    color: black;
    font-weight: bold;
}

p {
    color: darkgray;
    text-align: center;
}

fieldset {
    max-width: auto;
    border: none;
    padding: 0 18px 0 18px;
}

.main-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label-form {
    font-size: 16px;
    color: grey;
}

.input-form {
    background-color: #ebf0f5;
    padding: 1rem;
    border-radius: 2px;
    border: none;
    width: 100%;
}

.input-form:focus,
.form-zip:focus,
.select-form:focus,
.text-topic:focus {
  outline: 3px solid rgb(104, 68, 231);
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  transition: 1s;
}

.input-form:hover,
.form-zip:hover,
.select-form:hover,
.text-topic:hover {
    outline: 3px solid #796da1;
    background-color: #f5d584;
    opacity: 0.5;
    transition: 1s;
}

.form-zip {
    background-color: #ebf0f5;
    padding: 0.7rem;
    border-radius: 2px;
    border: none;
    width: 50%;
    display: block;
}

.label-news {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: grey;
}

.check-box {
    background-color: #ebf0f5;
    padding: 1rem;
}

.select-form {
    display: flex;
    background-color: #ebf0f5;
    padding: 1rem;
    border: none;
    border-radius: 2px;
    width: 100%;
}

select#state.select-form {
 color: black;
 font-size: 14px;
}

::placeholder {
    font-style: italic;
    text-align: right;
}

.checkbox-area {
    display: inline;
}

.text-topic {
    background-color: #eff0f1;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    resize: none;
    width: 100%;
}

.text-topic:focus {
    outline: 3px solid rgb(104, 68, 231);
}

.text-topic:hover {
    outline: 3px solid rgb(104, 68, 231);
}

.select-form:focus {
    outline: 3px solid rgb(104, 68, 231);
}

.select-form:hover {
    outline: 3px solid rgb(104, 68, 231);
}

.submit-button {
    background-color: #4ebbb5;
    padding: 1.5rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #706c6c;

}

.first-hr {
    border-top: 5px solid black;
    padding-top: 4px;
    border-bottom: 3px solid black;
    border-right: none;
    border-left: none;
    margin: 1rem;
}

.second-hr {
    border-top: 2px solid black;
    margin: 1rem;
}

footer {
    width: 100%;
    font-size: 16px;
    padding: 10px 0 200px 0;
}

footer p {
    color: grey;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
.wrapper {
    width: 100%;
    flex-basis: auto;
    align-items: center;
}

main {
    width: 768px;
}

.main-form {
    -ms-flex-align: start;
}

fieldset {
    margin: 0px;
    width: 100%;
    max-width: none;
}

.select-form {
    display: flex;
    width: 75%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.input-form {
    display: flex;
    width: 75%;
}

.form-zip {
    width: 25%;
}

.label-form {
    display: flex;
    width: 25%;
}

.text-form {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

}
