/* Basic elements HTML */
body {
    margin: 1em;
    padding: 1em;
    background-color: #fafafa;
}

p {
    line-height: 1.5em;
}

header {
    font-family: 'Montserrat', sans-serif;
    color: red;
    text-align: center;
    padding-bottom: 3%;
}

h1 {
    font-weight: bold;
}

nav {
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: #ffffff;
    text-transform: uppercase;
    margin: 5px 20px;
    padding: 10px 20px;
}

a {
    color: #18e2b1;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
  color: red;
  text-decoration: underline;
}

/* Basic elements HTML end */

/* CSS for elemtens in main */

#preview p {
    color: black;
    margin: 25px 25px;
}

#preview img {
    width: 80%;
}

#portfolio {
  background-color: white;
}

#skills {
    background-color: lightpink;
    padding: 15px;
}

.header-h2 {
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.item-skills {
    list-style-type: none;
    text-align: center;
    background-color: white;
    border: solid 10px #FC5185;
}

.main-portfolio {
    text-align: center;
    font-family: 'Open sans', sans-serif;
}

.main-portfolio img {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.items {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.text-items {
    color: black;
    width: 80%;
    margin: 5px auto 30px auto;
}

#contacts {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact-text {
    margin: 0 5% 3% 5%;
    text-align: center;
}

#contacts p {
    font-family: 'Open sans', sans-serif;
    color: #7f7f87;
    font-size: 1rem;
}

/* CSS for elemtens in main end*/

/* Footer */

footer {
    padding: 0 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

.name,
.top {
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
}

.top {
    text-transform: uppercase;
}

.menu-footer {
    display: none;
}

/* Footer end */

/* Media Queries */

@media screen and (min-width: 768px) {
    li {
        background: none;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #preview {
        display: flex;
    }

    #preview img {
        order: 2;
        width: 100%;
        margin-left: 7%;
        margin-right: 0;
    }

    #preview p {
        order: 1;
        text-align: left;
        margin-right: 0;
        font-size: 1.3em;
    }

    .main-projects {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    .main-portfolio {
        flex: 0 50%;
        box-sizing: border-box;
    }

    #contacts p {
        font-size: 1.3em;
        display: block;
        width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .top {
        display: none;
    }

    .menu-footer {
        display: inline-flex;
    }


    .menu-footer li {
        font-size: 1em;
    }

}

@media all and (min-width: 1024px) {
    header {
        padding-right: 5%;
        padding-left: 5%;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
    }

    #preview p {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .main-portfolio {
        flex: 0 33%;
    }

    .main-footer {
        padding-top: 0;
        padding-bottom: 0;
    }

    #contacts p {
        font-size: 1.2rem;
        width: 520px;
    }
}
